doctype html
html
    head
        title="서버 정보"
        link(rel='stylesheet', href='/stylesheets/style.css')
body
    block content
        each val, index in (guilds)
            li= "서버: " + index
                each semival, semiindex in val
                    li= semiindex + ": " + semival