doctype html
html
    head
        title="서버 정보"
        link(rel='stylesheet', href='/stylesheets/style.css')
body
    block content
        each server, servername in (guilds)
            li= "서버: " + servername
                each id, name in server
                    li= name + ": " + id
                    // 사용자 관리 TODO
