doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
body
    block content
        form(method='POST' action='/login')
            div.form-group
                label(for='name') 디스코드 태그(예시: DPS0340#0340) :
                input#name.form-control(type='text', name='tag')
                label(for='pw') 웹토큰 :
                input#pw.form-control(type='password' name='token')
            button.btn.btn-primary(type='submit') 로그인