doctype html
html
    head
        title="토큰 인증 만료"
        link(rel='stylesheet', href='/stylesheets/style.css')
body
    block content
        p 권한이 없습니다.
        a(class='button' href='/login') 로그인